.intro{
  background-image: url('../assets/backgrounds/h_img.jpg');
  background-size: cover;
}
.intro img{
  margin-left: 490px;
}
.intro .mouse{
  margin-left: 535px;
}
.intro h1{
  text-align: center;
  color: white;
  margin-left: -50px;
}
.intro h6{
  color: white;
  text-align: center;
  margin-left: -50px;
}
.about h3{
  text-align: center;
  margin-left: -130px;
}
.about p{
  text-align: center;
  margin-left: -120px;
  font-size: small;
}
.services{
  background-image: url('../assets/backgrounds/s_image.jpg');
  background-size: cover;
}
.services h3{
  color: white;
}
.services p{
  color: white;
}
.whatwedo h3{
  text-align: center;
  margin-left: -130px;
}
.row{
  margin-left: 150px;
}
.work1 img{
  width: 145px;
  margin-left: 10px;
}
.work2 img{
  width: 145px;
  margin-left: 10px;
}
.work3 img{
  margin-left: 10px;
  width: 145px;
}
.work4 img{
  margin-left: 40px;
  width: 145px;
}
